<div id="header" class="header">
  <a href="#i-am" role="button">
    <img src="./assets/img/logo.png" alt="Mein Logo. Ein Laptop mit einem Baum und meinen Initialien">
  </a>
  <nav>
    <a href="#aboutMe" translate [ngClass]="{'active': activeLink === 'aboutMe'}" (click)="setActiveLink('aboutMe')">About Me</a>
    <a href="#skills" [ngClass]="{'active': activeLink === 'skills'}" (click)="setActiveLink('skills')">Skills</a>
    <a href="#portfolio" [ngClass]="{'active': activeLink === 'portfolio'}" (click)="setActiveLink('portfolio')">Portfolio</a>
    <a href="#contact" translate [ngClass]="{'active': activeLink === 'contact'}" (click)="setActiveLink('contact')">
      <span translate>Contact</span>
    </a>
    <div class="language-container">
      <a role="button deutsch" class="exclude-hover" (click)="translate.use('de');">DE</a>
      <span class="span-container display-flex">|</span>
      <a role="button english" class="exclude-hover" (click)="translate.use('en');">EN</a>
    </div>
  </nav>
</div>


<div (click)="openMiniMenu()">
  <img class="display-none burger-menu" src="./assets/img/burger.png" alt="Menu">
</div>

<div id="miniMenu" #miniMenuRef class="mini-menu" [ngClass]="{'mini-menu-toggle': isMiniMenuOpen}">
  <img class="close-icon" src="./assets/img/x.png" alt="Close" (click)="closeMiniMenu()">
  <a translate (click)="scrollToSection('aboutMe')">About Me</a>
  <a (click)="scrollToSection('skills')">Skills</a>
  <a (click)="scrollToSection('portfolio')">Portfolio</a>
  <a translate (click)="scrollToSection('contact')">Contact</a>
  <div class="language-container">
    <a (click)="translate.use('de');">DE</a>
     <span class="span-container">|</span>
     <a (click)="translate.use('en');">EN</a>
  </div>
</div>