<div class="header">
  <a href="#i-am"><img src="./assets/img/logo.jpg" alt="Logo"></a>
  <nav>
    <a translate [ngClass]="{'active': activeLink === 'aboutMe'}" (click)="setActiveLink('aboutMe')" href="#aboutMe">About Me</a>
    <a  [ngClass]="{'active': activeLink === 'skills'}" (click)="setActiveLink('skills')" href="#skills">Skills</a>
    <a [ngClass]="{'active': activeLink === 'portfolio'}" (click)="setActiveLink('portfolio')"
      href="#portfolio">Portfolio</a>
      <a translate [ngClass]="{'active': activeLink === 'contact'}" (click)="setActiveLink('contact')" href="#contact"> <span translate>Contact</span></a>
      <div class="language-container">
      <a role="button" class="exclude-hover" (click)="translate.use('en');">EN</a> <span class="span-container display-flex">|</span>
      <a role="button" class="exclude-hover" (click)="translate.use('de');">DE</a>
    </div>
  </nav>
</div>

<div (click)="openMiniMenu()">
  <img class="display-none burger-menu" src="./assets/img/burger.png" alt="Menu">
</div>

<div id="miniMenu" #miniMenuRef class="mini-menu" [ngClass]="{'mini-menu-toggle': isMiniMenuOpen}">
  <img class="close-icon" src="./assets/img/x.png" alt="Close" (click)="closeMiniMenu()">
  <a translate (click)="scrollToSection('aboutMe')">About Me</a>
  <a (click)="scrollToSection('skills')">Skills</a>
  <a (click)="scrollToSection('portfolio')">Portfolio</a>
  <a translate (click)="scrollToSection('contact')">Contact</a>
  <div class="language-container">
    <a (click)="translate.use('en');">EN</a> <span class="span-container">|</span>
    <a (click)="translate.use('de');">DE</a>
  </div>
</div>