.footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 200px;
  border-top: 3px solid #70e61c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  p {
    font-size: 25px;
  }
}

.logo {
  width: 100px;
  height: 45px;
  border: 2px solid #21c604;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 5px #21c604;
    cursor: pointer;
  }
}

.logo-imprint {
  display: flex;
  flex-direction: column;

  a {
    margin-left: 52px;
    margin-top: 0px;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #21c604;
      text-decoration: 2px underline #9747ff;
    }
  
  }
}

.icons {
  margin-right: 50px;

  img {
    margin-left: 20px;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      border-radius: 50px;
      box-shadow: 0 0 20px #9747ff;
    }
  }
}


@media screen and (max-width: 800px) {
  .footer {
    width: 100vw;
    min-height: 290px;
    border-top: 3px solid #70e61c;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;

    p {
      font-size: 15px;
    }
  }

  .logo {
   
    margin-top: 15px;
  }

  .icons {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .logo-imprint {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    a {
     margin-left: 0px;
      margin-top: 10px;
      text-decoration: none;
      color: #fff;
  
      &:hover {
        color: #21c604;
      }
    }
  }
}
