footer {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 150px;
  border-top: 1px solid #70e61c73;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-color: #1D1D1D;

  h4 {
    font-size: 20px;
    font-weight: lighter;
    margin: 10px;
  }
}

.logo {
  width: 100px;
  margin-left: 50px;
  transition: transform 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.07); 
  }
}


.copyright-privacy {
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;

    &:hover {
     text-decoration: 2px underline #9747ff;
    }
  }
}

.icons {
  margin-right: 50px;

  img {
    margin-left: 20px;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      border-radius: 50px;
      box-shadow: 0 0 20px #9747ff;
    }
  }
}

.base {
  display: inline-block;
  position: relative;
  &:hover .content {
    transition: translate(-50%, -110%);
    opacity: 1;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-30%, -120%);
  pointer-events: none;
  color: #fff;
  transition: all 150ms;
  opacity: 0;
}


@media screen and (max-width: 850px) {
  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  
    h4 {
      font-size: 15px;
    }
  }

  .logo {
    margin-top: 15px;
  }

  .icons {
    margin-right: 0px;
    margin-bottom: 20px;
  }

 .copyright-privacy {
   margin-left: 20px;
   margin-bottom: 10px;
 }
}
