<footer id="footer" class="footer">
  <a href="https://www.thegreenwebfoundation.org/" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
    <img src="https://api.thegreenwebfoundation.org/greencheckimage/annika-rothe.com?nocache=true"
      alt="This website is hosted Green - checked by thegreenwebfoundation.org"></a>
 
  <div class="copyright-privacy">
    <div id="wcb" class="carbonbadge wcb-d"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.2/b.min.js" defer></script>
    <h4 aria-label="Copyright notice"> © Annika Rothe 2024</h4>
    <a translate href="https://annika-rothe.com/Imprint/" target="_blank"
      [attr.aria-label]=" 'privacy policy, opens in a new tab' | translate">Privacy Policy</a>
  </div>
  <div class="icons">
    <a class="base" href="https://github.com/AnnikaRothe" target="_blank"
      [attr.aria-label]=" 'Github, opens in a new tab' | translate"><img src="./assets/img/github-button.png" alt="Link to Github">
      <span class="content">Github</span></a>
    <a class="base" href="mailto:mail@annika-rothe.com" target="_blank"
      [attr.aria-label]=" 'Mail, opens in a new tab' | translate">
      <img src="./assets/img/email-button.png" alt="opens E-Mail"><span class="content">Mail</span>
    </a>
    <a class="base" href="https://www.linkedin.com/in/annika-rothe/" target="_blank"
      [attr.aria-label]=" 'LinkedIn, opens in a new tab' | translate"><img src="./assets/img/linkedIn-button.png"
        alt=" Link to LinkedIn"><span class="content">LinkedIn</span></a>
  </div>
 
</footer>