<div class="footer">
  <div class="logo-imprint">
    <a href="#i-am"><img class="logo" src="./assets/img/logo.jpg" alt="Logo"></a>
    <a translate href="https://annika-rothe.com/Imprint/" target="_blank">Privacy Policy</a>
  </div>
  <p role="copyright"> © Annika Rothe 2023</p>
  <div class="icons">
    <a class="base" href="https://github.com/AnnikaRothe" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate"><img src="./assets/img/github-button.png"
        alt="Github"> <span class="content">Github</span></a>
    <a class="base" href="mailto:mail@annika-rothe.com" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
      <img src="./assets/img/email-button.png" alt="E-Mail" ><span class="content">Mail</span>
    </a>
    <a class="base" href="https://www.linkedin.com/in/annika-rothe/" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate"><img
        src="./assets/img/linkedIn-button.png" alt="LinkedIn"><span class="content">LinkedIn</span></a>
  </div>
</div>