.main-container {
font-size: 17px;
display: flex;
align-items: center;
background-color: #1D1D1D;
border-bottom: 1px solid rgb(60, 67, 58);
padding: 20px;
}


h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 90px;
  font-weight: bold;
  z-index: 100;
  white-space: nowrap;
}


.container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;}


.container-right {
  z-index: 1;
 width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-left: 50px;
}

.info-container {
  display: flex;

  img {
    width: 40px;
    height: 40px;
    z-index: 1;
    margin-right: 15px;
    margin-top: 20px;

    &:hover {
     transform: scale(1.1);
    }
  }

  p {
    z-index: 1;
  }
}


@media screen and (max-width: 1145px) {
.info-container {

  p {
    margin-right: 5px;
  }
 
}
}






@media screen and (max-width: 833px) {
  .main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  h1 {
    font-size: 80px;
  }

 .container-left {
  width: 100%;
  margin-top: -30px;
 
}

 .container-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-left: 0;

  img {
    margin-left: 20px;
  }
 }

 .info-container {
  width: 100%;
 }

}


@media screen and (max-width: 660px) {
  h1 {
    font-size: 60px;
    margin-top: 30px;
  }

 

  .container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


@media screen and (max-width: 464px) {
.purple-line {

  img {
   margin-left: -80px;
  }
}
}


@media screen and (max-width: 396px) {

  h1 {
    font-size: 50px;
  }

.main-container {
  margin-top: -50px;
}

  .text-container {
    text-align: left;

    p {
      font-size: 13px;
      margin-left: 110px;
      margin-left: 130px;
    }
  }

  .info-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding-left: 0px;

    p {
      margin-left: 20px;
    }
  }


}



