<div id="aboutMe" class="main-container">

    <div class="container-left">
        <div class="purple-line">
            <img class="line-purple" src="./assets/img/line-purple.png">
            <h1>About me</h1>
        </div>
        <div class="text-container">
            <p> I'm a dedicated Junior Frontend Developer  with a deep appreciation for the wonders of nature. 
                I believe that the contrast between technology and the natural world holds immense beauty and
                inspiration.
                I thrive on challenges and enjoy finding innovative solutions to  complex problems.

            </p>

            <div class="info-container">
                <img src="./assets/img/light-bulb-small.png" alt="Infos">
                <p>This portfolio was programmed using Angular, TypeScript and SCSS.</p>
            </div>


            <div class="info-container">
                <img src="./assets/img/puzzle-small.png" alt="Infos">

                <p>You can find more projects on my GitHub page.  Many of them were for practice and therefore
                    are not included in this portfolio.</p>
            </div>

        </div>
    </div>
    <div class="container-right">
        <img class="me" src="./assets/img/Bewerbung2.png" alt="me">
        <img class="flow" src="./assets/img/flow.png">


    </div>
</div>
  <div id="skills"></div>
