<div id="aboutMe">
    <div class="main-container">
        <div class="container-left">
            <div class="purple-line">
                <img class="line-purple" src="./assets/img/line-purple.png">
                <h1>About me</h1>
            </div>

            <div class="container-left">
                <p>
                    During my training as a frontend developer, I independently or collaboratively crafted various
                    projects.
                    The daily routine of a developer was already experienced, involving regular calls, meeting
                    deadlines,
                    conducting code reviews, and both team and individual work. I am eager to apply these experiences as
                    I
                    transition into the role of a Junior Web Developer, contributing to dynamic projects and the success
                    of
                    a collaborative team. My commitment to continuous learning remains steadfast, and I am currently
                    delving
                    into the realm of CMS and pursuing a PHP course, while also enhancing my proficiency in JavaScript,
                    Angular, TypeScript, and more.
                </p>
            </div>
        </div>
        <div class="container-right">
            <div class="info-container">
                <img src="./assets/img/light-bulb-small.png" alt="Infos">
                <p>This portfolio was programmed using Angular, TypeScript and SCSS.</p>
            </div>
            <div class="info-container">
                <img src="./assets/img/puzzle-small.png" alt="Infos">

                <p>You can find more projects on my GitHub page. Many of them were for practice and therefore
                    are not included in this portfolio.</p>
            </div>
        </div>

    </div>

</div>