
    <div class="main-container">

        <div class="container-left">
            <h1>About me</h1>
            <p>
                During my training as a frontend developer, I independently or collaboratively crafted various
                projects.
                The daily routine of a developer was already experienced, involving regular calls, meeting
                deadlines,
                conducting code reviews, and both team and individual work. I am eager to apply these experiences as
                I
                transition into the role of a Junior Web Developer, contributing to dynamic projects and the success
                of
                a collaborative team. 
            </p>

        </div>
        <div class="container-right">
            <div class="info-container">
                <img src="./assets/img/light-bulb-small.png" alt="Infos">
                <p>This portfolio was programmed using Angular, TypeScript and SCSS.</p>
            </div>
            <div class="info-container">
                <img src="./assets/img/puzzle-small.png" alt="Infos">

                <p>You can find more projects on my GitHub page. Many of them were for practice and therefore 
                    are not included in this portfolio.</p>
            </div>
        </div>

    </div>

