.input-field {
  background-color: transparent;
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #70e61c;
  border-radius: 5px;
  color: #fff;
  transition: border-color 0.3s ease; 

&:hover {
  border-color: #9932cc; 
  cursor: pointer;
}
}

.button-container {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  width: 90%;
}

button {
  width: 170px;
  margin-bottom: 100px;
  height: 58px;
  border: none;
  border-radius: 10px;
  padding: 15px 30px, 15px, 30px;
  background-color: #21c604;
  color: #fff;
  font-size: 130%;
  transition: all 0.3s;

  &:hover {
    background-color: #481887;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.button-container.expanded button {
  transform: scale(1.5);
}


.form-container {
  width: 90%;
}

@media screen and (max-width: 900px) {
  .form-container {
    margin-left: -20px;
    width: 100%;
  }

  .text-container {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .input-field {
    background-color: transparent;
    width: 80vw;
    margin-bottom: 20px;
    border: 1px solid #70e61c;
    border-radius: 5px;
    margin-left: 0px;
  }

.button-container {
  width: 85%;
}

  .form-container {
    margin-left: 50px;
  }

  .img-go-up {
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 690px) {
  .input-field {
    background-color: transparent;
    margin-bottom: 20px;
    border: 1px solid #70e61c;
    border-radius: 5px;
    margin-left: 40px;
  }

 button {
  margin-left: 70px;
 }

  .form-container {
    margin-left: 0px;
  }

  .img-go-up {
    position: absolute;
    margin-top: 10px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 430px) {
  .input-field {
    width: 93%;
    margin-left: 10px;
  }

  h2 {
    margin-right: 20px;
  }

  .button-container {
    width: 75%;
  }
  .go-up {
    margin-top: -50px;
    margin-left: 30px;
  }

}
