<div id="contact" class="main-container">
    <div class="container-up">
        <div class="green-line">
            <h1 translate>Contact</h1>
            <img src="./assets/img/long-line-green.png">
        </div>
    </div>

    <div class="container-down">
       
            <div class="problem-container">
                <div class="green-line-small">
                    <img src="./assets/img/long-line-green.png">
                    <h2 translate>Want to get in touch?</h2>
                </div>
                <div class="span-container">
                    <span translate>Contact me through this form, I am interested in hearing you, knowing your ideas and
                        contributing
                        to new projects with my work. <br> <br>
                        Need a Frontend Developer? <b translate>Contact me!</b></span>
                </div>
            </div>
        <div class="form-and-button">
            <app-contact-form></app-contact-form>
        </div>
    </div>