.main-container {
  margin-top: 100px;
  background-color: #1D1D1D;
  border-top: 1px solid rgb(60, 67, 58);
  border-bottom: 1px solid rgb(60, 67, 58);
  padding: 20px;
}

.container-up {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.green-line {
  display: flex;
  align-items: center;
  margin-right: -20px;
}

h1 {
  padding-right: 40px;
  font-size: 90px;
  font-weight: bold;
}

.container-down {
  display: flex;
  justify-content: space-between;
}

.problem-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.green-line-small {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -20px;

  img {
    margin-right: 30px;
    width: 70px;
    height: 3px;
  }

  h2 {
    margin-top: -25px;
    font-size: 40px;
    white-space: nowrap;
  }
}

.span-container {
  width: 80%;
  margin-left: 80px;
  font-size: 17px;
}

.form-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


@media screen and (max-width: 1285px) {
  .container-up {
    margin-bottom: -50px;
  }

  .container-down {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
   
  }

  h2 {
    white-space: nowrap;
    font-size: 10px;
  }

  .green-line-small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;

    img {
      margin-top: -65px;
      width: 50px;
      height: 4px;
      margin-right: 20px;
    
    }
  }


  .problem-container {
    width: 87vw;
    font-size: 17px;
  }

  .span-container {
    margin-left: 50px;
  }

  .purple-line-small img {
    width: 80px;
    margin-left: -80px;
  }

  .go-up {
    margin-top: -100px;
  }

  .green-line {
    display: flex;
    align-items: center;

    img {
      width: 300px;
      height: 4px;
    }
  }
}

@media screen and (max-width: 730px) {
  .green-line {
    display: flex;
    align-items: center;

    img {
      width: 120px;
      height: 4px;
    }
  }

  h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 550px) {
  .green-line-small img {
    display: none;
  }

  .span-container {
    margin-left: 0
  }

  .green-line {
    display: flex;
    align-items: center;

    img {
      width: 100px;
      height: 4px;
    }
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    margin-left: 20px;
    font-size: 30px !important;
  }
}

@media screen and (max-width: 460px) {
  .problem-container {
    transform: scale(0.85);
  }

  .green-line {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      height: 3px;
    }
  }

  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 414px) {
  .green-line-small {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    h2 {
      margin-right: 10px;
    }
  }

  .purple-line-small img {
    display: none;
  }

  .problem-container {
    transform: scale(0.85);

    h2 {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 365px) {
  h1 {
    margin-right: -20px;
    font-size: 50px;
  }

  .problem-container {
    margin-left: -30px;
    transform: scale(0.80);

    h2 {
      font-size: 30px;
    }
  }
}



