<div class="main-container" id="i-am">
  <div class="background-image-container"></div>

  <div class="container-left">
    <span role="Name" class="name">Annika Rothe </span> <br>
    <span role="job" class="job">Frontend Developer</span>
    <div class="button-container">
      <a href="https://drive.google.com/file/d/1nkgoLFf75ME4z1NdXsGIHO-YckVk3LN6/view?usp=sharing" target="_blank" [attr.aria-label]=" 'CV opens in a new tab' | translate">
        <button class="download-button">CV</button>
      </a>
      <a href="https://drive.google.com/file/d/1E0GROYQMIBEIsBE6UKImgMnPpkGu_E17/view?usp=sharing" target="_blank" [attr.aria-label]=" 'certificate opens in a new tab' | translate">
        <button translate class="download-button">Certificate</button>
      </a>
    </div>
  </div>

  <div class="container-right">
    <img class="me" src="./assets/img/Bewerbung1.png" alt="me">
    <div id="aboutMe"></div>
    <img class="flow" src="./assets/img/flow2.png">
  </div>
  <div id="aboutMe"></div>
  <img class="scroll-down" src="./assets/img/scrollDown.png" alt="Scroll Down">
</div>