<div class="main-container" id="i-am">


    <div class="container">
        <img class="purple1" src="./assets/img/purple1.png" alt="purple color">

        <span class="name">Annika Rothe </span> <br>
        <span class="job purple">Frontend Developer</span>
        <img class="green" src="./assets/img/green.png" alt="green color">
    </div>

    <div class="button-container">
        <a href="#contact"><button class="talk-button">Let`s talk!</button> </a>
    </div>

    <div class="purple-line">
        <img style="width: 150px; height: 3px;" class="line-purple" src="./assets/img/long-line-green.png">
        <div class="icons">

            <a class="link"
                href="https://drive.google.com/file/d/1nkgoLFf75ME4z1NdXsGIHO-YckVk3LN6/view?usp=drive_link">Download
                CV</a>
        </div>
    </div>
    <img class="scroll-down" src="./assets/img/scrollDown.png" alt="Scroll Down">

</div>