.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.purple-line {
  margin-left: -100px;
  margin-top: 90px;
  display: flex;
  align-items: center;

  img {
    margin-top: 50px;
  }
}

.container {
  width: 99vw;
  margin-top: 200px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding-left: -300px;
}


.name {
  font-size: 130px;
  font-weight: bold;
  margin-bottom: 50px;
  z-index: 99;
  padding-bottom: 70px;
  margin-left: -30px;
}

.job {
  font-size: 95px;
  margin-top: 170px;
  margin-left: -935px;
  z-index: 99;
  position: relative;
}

.button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.talk-button {
  margin-top: -150px;
  width: 165px;
  height: 58px;
  border: 2px solid  #21c604;
  border-radius: 10px;
  padding: 15px 30px, 15px, 30px;
  background-color: transparent;
  color: white;
  font-size: 25px;
  transition: transform 0.3s, background-color 0.3s;

  &:hover {

    border: 2px solid #481887;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.purple1 {
  position: absolute;
  left: 0;
  top: 0px;
  width: 500px;
  height: 800px;
  z-index: 1;
  opacity: 0.4;
}

.green {
  position: absolute;
  right: 0;
  top: 0px;
  width: 500px;
  height: 900px;
  z-index: 1;
  opacity: 0.4;
}

.scroll-down {
  position: absolute;
  right: 50px;
  top: 750px;
}

.purple-line {
  margin-left: -20px;
}

.icons {
  margin-right: 50px;
  display: flex;
  align-items: flex-end;

  img {
    margin-left: 20px;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      border-radius: 50px;
      box-shadow: 0 0 20px #9747ff;
    }
  }
}

.link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: -50px;
  font-size: 30px;
  font-weight: 500;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
    text-shadow: 0 0 20px #3fec20; /* Hier wird der Schatten nur auf den Text angewendet */
  }
}


@media screen and (max-width: 1215px) {

  .name {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 50px;
    z-index: 99;
    padding-bottom: 70px;
  }

  .job {
    font-size: 90px;
    margin-top: 170px;
    margin-left: -865px;
    z-index: 99;
    position: relative;
  }

  .purple1 {
    width: 400px;
    height: 800px;
  }

  .green {
    width: 400px;
    height: 1000px;
  }
}

@media screen and (max-width: 1100px) {

  .name {
    font-size: 110px;
    margin-top: 30px;
  }

  .job {
    font-size: 82px;
    padding-left: 70px;
    margin-top: 150px;
  }
}

@media screen and (max-width: 985px) {
 
  .name {
    font-size: 90px;
    margin-top: 50px;
    margin-left: -10px;
  }

  .job {
    font-size: 65px;
    margin-top: 100px;
    margin-right: 0px;
    padding-left: 220px;
  }

  .purple1 {
    margin-top: 100px;
    width: 300px;
    height: 600px;
  }

  .green {
    width: 300px;
    height: 800px;
  }
}


@media screen and (max-width: 885px) {

  .container {
    margin-top: 70px;
  }

  .name {
    font-size: 70px;
    margin-top: 70px;
  }

  .job {
    font-size: 52px;
    margin-top: 80px;
    margin-right: 0px;
    padding-left: 360px;
  }

  .scroll-down {
    display: none;
  }

  .purple1 {
    margin-top: 50px;
    width: 250px;
    height: 500px;
  }

  .green {
    width: 250px;
    height: 700px;
  }
}

@media screen and (max-width: 666px) {

  .name {
    font-size: 60px;
    margin-top: 85px;
  }

  .job {
    font-size: 45px;
    margin-top: 60px;
    margin-right: 0px;
    padding-left: 435px;
  }

  .button {
    margin-left: 670px;
    transform: scale(0.8);
    margin-top: -70px;
  }

  .purple1 {
    margin-top: 100px;
    width: 200px;
    height: 400px;
  }

  .green {
    width: 200px;
    height: 600px;
  }
}

@media screen and (max-width: 580px) {
  .rotated-text {
    font-size: 40px;
  }

  .name {
    font-size: 55px;
    margin-top: 87px;
  }

  .job {
    font-size: 40px;
    margin-top: 50px;
    margin-right: 0px;
    padding-left: 470px;
  }

  .purple-line {
    transform: scale(0.9);
    margin-left: -70px;
  }
}

@media screen and (max-width: 555px) {
  .rotated-text {
    font-size: 40px;
  }

  .container {
   padding-left: 15px;
  }

  .name {
    font-size: 50px;
    margin-top: 85px;
  }

  .job {
    font-size: 37px;
    margin-top: 45px;
    margin-right: 0px;
    padding-left: 505px;
  }

  .purple-line {
    margin-top: 50px;
  }

  .purple1 {
    margin-top: 70px;
    width: 150px;
    height: 400px;
  }

  .green {
    width: 150px;
    height: 600px;
  }
}

@media screen and (max-width: 490px) {
  .rotated-text {
    font-size: 40px;
  }

  .container {
    margin-top: -50px;
    margin-left: -20px;
  }

  .name {
    font-size: 48px;
    margin-top: 80px;
  }

  .job {
    font-size: 35px;
    margin-top: 65px;
    margin-right: 0px;
    padding-left: 520px;
  }

  .purple-line {
    margin-top: 50px;
  }

  .purple1 {
    margin-top: 50px;
    width: 150px;
    height: 400px;
  }

  .green {
    width: 150px;
    height: 500px;
  }
}

@media screen and (max-width: 430px) {

  .container {
    margin-top: -50px;
    margin-left: -15px;
  }

  .name {
    font-size: 43px;
    margin-top: 85px;
    margin-left: -5px;
  }

  .job {
    font-size: 32px;
    margin-top: 60px;
    margin-right: 0px;
    padding-left: 555px;
  }

  .purple-line {
    margin-top: 100px;
  }
}



@media screen and (max-width: 395px) {
  .main-container {
    margin-bottom: 100px;
  }


  .container {
    margin-top: 20px;
    margin-left: -15px;
  }

  .name {
    font-size: 37px;
    margin-top: 93px;
  }

  .job {
    font-size: 27px;
    margin-top: 40px;
    margin-right: 0px;
    padding-left: 600px;
  }

  .link {
  font-size: 25px;
  margin-top: -50px;
  }
}

@media screen and (max-width: 345px) {
  .rotated-text {
    font-size: 23px;
  }

  .container {
    margin-top: -100px;
    margin-left: -15px;
  }

  .name {
    font-size: 33px;
    margin-top: 93px;
    margin-left: 0px;
  }

  .job {
    font-size: 25px;
    margin-top: 35px;
    margin-right: 0px;
    padding-left: 628px;
  }
}
