

<div class="main-container">

    <div class="container-left">
        <div class="first-row">
            <img src="./assets/img/Javascript.png" alt="JavaScript">
            <img src="./assets/img/Angular.png" alt="Angular">
            <img src="./assets/img/typeScript.png" alt="typeScript">
            <img src="./assets/img/html.png" alt="HTML">
        </div>
        <div class="second-row">
            <img src="./assets/img/Git.png" alt="Git">
            <img src="./assets/img/Firebase.png" alt="Firebase">
            <img src="./assets/img/css.png" alt="CSS">
            
        </div>
        <div class="third-row">
            <img src="./assets/img/scrum.png" alt="Scrum">
            <img src="./assets/img/Api.png" alt="Rest-Api"> <br>
            <img src="./assets/img/Frame.png" alt="Material-Design">
        </div>
    </div>


    <div class="container-right">
        <div class="purple-line">
            <h1> My Skills</h1>
        <img src="./assets/img/line-purple.png">
    </div>
        <span class="skill-text">
            I have gained experience in building projects with various front end technologies and concepts.
        </span>
            <a href="#contact"><button class="button">Get in touch</button></a>
    </div>



</div>
