<div class="main-container">
    <div class="container-left">
        <img src="./assets/img/Javascript.png" alt="JavaScript">
        <img src="./assets/img/Angular.png" alt="Angular">
        <img src="./assets/img/typeScript.png" alt="typeScript">
        <img src="./assets/img/html.png" alt="HTML">
        <img src="./assets/img/Git.png" alt="Git">
        <img src="./assets/img/Firebase.png" alt="Firebase">
        <img src="./assets/img/css.png" alt="CSS">
        <img src="./assets/img/bootstrap.png" alt="Bootstrap">
        <img src="./assets/img/Api.png" alt="Rest-Api">
        <img src="./assets/img/Frame.png" alt="Material-Design">
        <img src="./assets/img/scrum.png" alt="Scrum">

    </div>

    <div class="container-right">
        <div class="purple-line">
            <h1 role="heading/überschrift" translate>My Skills</h1>
        </div>
        <span translate class="skill-text">
            I have gained experience in building projects with various front end technologies and concepts.
            My commitment to continuous learning remains steadfast. I am currently delving into the realm of CMS
            (WordPress) and web accessibility while also enhancing my proficiency in
            JavaScript, Angular, TypeScript, and more.
        </span>
    </div>



</div>