.main-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #1D1D1D;
  border-top: 1px solid rgb(60, 67, 58);
  border-bottom: 1px solid rgb(60, 67, 58);
  padding-right: 20px;
}

.container-left {
  margin-top: 30px;
  margin-left: -20px;
  width: 40%;

  img {
    position: relative;
    margin-left: 70px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;

    &:hover {
      animation: bounce 0.5s infinite;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.container-right {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 70px;
  flex-direction: column;
}

.purple-line {
  display: flex;
  align-items: center;

  img {
    margin-top: 35px;
  }
}

h2 {
  margin-top: 90px;
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: bold;
  white-space: nowrap;
}

.skill-text {
  margin-top: 50px;
  width: 100%;
  text-align: end;
  font-size: 17px;
}


.purple-line-big {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-left: 40px;
    margin-right: 0px;
  }
}


@media screen and (max-width: 1600px) {
  .skill-text {
    margin-top: 10px;
    width: 80%;
  }
}

@media screen and (max-width: 1380px) {
  .container-left {
    img {
      margin-left: 50px;
      width: 65px;
    }
  }

  .skill-text {
    margin-top: -50px;
  }
}

@media screen and (max-width: 1200px) {
  .container-right {
   justify-content: space-between;
  }

  .purple-line {
    margin-top: 100px;
   img {
    margin-top: 0px;
   }
  }

  .skill-text {
    margin-bottom: 30px;
    width: 95%;
  }

  h2 {
    margin-top: 20px;
    font-size: 80px;
  }
}


@media screen and (max-width: 1100px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .purple-line {
    display: flex;
    align-items: center;
    margin-top: 0px;

    h2 {
      font-size: 70px;
    }
  }
  
  .skill-text {
    width: 95%;
    margin-bottom: 100px;
  }

  .container-left {
    width: 100%;
    margin-top: -50px;
  } 

  .container-right {
    width: 100%;
  }
}

@media screen and (max-width: 611px) {
  .container-left {
    margin-left: 30px;
    width: 90%;
  }
}

@media screen and (max-width: 534px) {
  .container-left {
    img {
      margin-left: 40px;
      width: 60px;
    }
  }

  .container-right {
    h2 {
      font-size: 55px;
    }

  .purple-line img {
    margin-top: -20px;
  }
  
  .skill-text {
    font-size: 15px;
  }
 }
}

@media screen and (max-width: 480px) {
  .container-right {
   width: 100%;
  }
  
  .container-left {
    img {
      margin-left: 30px;
    }
  }

  .purple-line {
    display: flex;
    align-items: center;

    h2 {
      font-size: 55px;
    }
  }
}

@media screen and (max-width: 420px) {
  .container-left {
    margin-left: 40px;
}

  .purple-line {
    img {
      width: 60px;
    }

    h2 {
      font-size: 45px;
    }
  }

  .skill-text {
    width: 90%;
  }
}

@media screen and (max-width: 345px) {
  .purple-line {
    img {
      width: 60px;
    }

    h2 {
      font-size: 40px;
    }
  }
}
