h1 {
  padding-left: 40px;
  margin-top: 90px;
  font-size: 90px;
  font-weight: bold;
  z-index: 500;
}


h2 {
  color: #9747ff;
  font-weight: bold;
  font-size: 40px;
}


h3 {
  color: #70e61c;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: lighter;
}


.purple-line {
  margin-top: 100px;
  display: flex;
  align-items: center;
  background-color: #1D1D1D;
  border-top: 1px solid rgb(60, 67, 58);
}


.portfolio-container1 {
  display: flex;
  background-color: #1D1D1D;
  padding: 20px;
  border: 2px solid green;

  img {
    max-height: 450px;
    max-width: 450px;
    transition: transform 0.3s, border-color 0.3s; 

    &:hover {
      transform: scale(1.1);
    }
  }

  .portfolio-img-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    border: 2px solid red;
  
  }

  .portfolio-text-container {
    margin-left: 150px;
    font-size: 17px;
    border: 2px solid purple;
    width: 55%;
  }
}


.portfolio-container2 {
  display: flex;
  background-color: #1D1D1D;
  border-bottom: 1px solid rgb(60, 67, 58);
  padding: 20px;
  border: 2px solid green;
  

  img {
    width: 400px;
    height: 400px;
    transition: transform 0.3s, border-color 0.3s; 

    &:hover {
      transform: scale(1.1); 
    }
  }

  .portfolio-img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    border: 2px solid red;
   
  }

  .portfolio-text-container {
    margin-right: 150px;
    margin-bottom: 150px;
    text-align: end;
    font-size: 17px;
    width: 55%;
   border: 2px solid purple;

   
  }
}

.parallax-container {
  background-color: transparent;
  border: 1px solid rgb(60, 67, 58);
  height: 15px;
}

.button-container {
  border: 2px solid orange;
}


.button-test {
  width: 165px;
  height: 58px;
  border: none;
  border-radius: 10px;
  padding: 15px 30px, 15px, 30px;
  background-color: #21c604;
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
  margin-right: 50px;

  &:hover {
    background-color: #481887;
    cursor: pointer;
  }
}

.button-transparent {
  background-color: transparent;
  width: 163px;
  height: 58px;
  border: 1px solid #21c604;
  border-radius: 10px;
  padding: 15px 30px, 15px, 30px;
  color: #fff;
  font-size: 25px;

  &:hover {
    border: 3px solid #481887;
    cursor: pointer;
  }
}



@media screen and (max-width: 1300px) {
  .portfolio-container1 {
   
    

    .portfolio-text-container {
      margin-left: 200px;
    }
  }
  .portfolio-container2 {
  
   

    .portfolio-text-container {
      margin-left: 50px;
    }
  }
}


@media screen and (max-width: 1170px) {
  .portfolio-container1 {
 
    

    .button-test {
      width: 133px;
      height: 58px;
      font-size: 23px;
      margin-right: 50px;
    }

    .button-transparent {
      background-color: transparent;
      width: 133px;
      height: 58px;
      font-size: 23px;
    }
  }

  .portfolio-container2 {
  

  

    

    .button-test {
      width: 133px;
      height: 58px;
      font-size: 23px;
      margin-right: 50px;
    }

    .button-transparent {
      background-color: transparent;
      width: 133px;
      height: 58px;
      font-size: 23px;
    }
  }
}

@media screen and (max-width: 1060px) {
  .portfolio-container1 {
  

    .button-test {
      width: 125px;
      height: 58px;
      font-size: 23px;
      margin-right: 50px;
    }

    .button-transparent {
      background-color: transparent;
      width: 125px;
      height: 58px;
      font-size: 23px;
    }

    
  }

  .portfolio-container2 {
  
   

    .button-test {
      width: 125px;
      height: 58px;
      font-size: 23px;
      margin-right: 50px;
    }

    .button-transparent {
      background-color: transparent;
      width: 125px;
      height: 58px;
      font-size: 23px;
    }

    .portfolio-text-container {
      width: 50vw;
     
    }
  }
}

@media screen and (max-width: 960px) {
  

  .button-container {
    display: flex;
  }

  .button-transparent {
    margin-top: 20px;
  }
}

@media screen and (max-width: 930px) {
  .portfolio-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    img {
     
      max-width: 350px;
    }

    .portfolio-text-container {
      
      margin-left: 0;
      margin-bottom: 150px;
      text-align: center;
      font-size: 17px;
      width: 90%;
     
    }
  }
  .portfolio-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 0px;
 
   

    img {

      max-width: 350px;
    }

    .portfolio-text-container {
      margin-top: 50px;
      margin-right: 0px;
      margin-left: 20px;
      text-align: center;
      font-size: 17px;
      width: 90%;
    }
  }

  h1 {
    padding-left: 20px;
    margin-top: 90px;
    font-size: 80px;
  }

  h3 {
    color: #70e61c;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  .button-test {
    transform: scale(0.9);
    margin-right: 20px;
  }

  .button-transparent {
    transform: scale(0.9);
  }

  .p-portfolio {
    margin-top: -50px;
    margin-left: 125px;
    font-size: 17px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 600px) {
  h1 {
    padding-left: 20px;
    font-size: 70px;
  }

  .p-portfolio {
    margin-top: -50px;
    padding-right: 30px;
    font-size: 17px;
  }

  .button-test {
    transform: scale(0.8);
    margin-right: 0px;
  }

  .button-transparent {
    transform: scale(0.8);
  }

 

  
}

@media screen and (max-width: 470px) {

  .portfolio-container1 {
    margin-top: -100px;
  }

  .portfolio-container2 {
    margin-top: -130px;
  }
  .purple-line {
    transform: scale(0.8);
    margin-left: -20px;
    margin-top: -70px;

    img {
      width: 60px;
      height: 4px;
      margin-left: -35px;

    }
  }

  .p-portfolio {
    margin-left: 50px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    margin-top: 50px;
  }
  .p-portfolio {
    margin-top: -20px;
    margin-left: 60px;
    font-size: 17px;
  }

  .button-test {
    transform: scale(0.65);
    margin-right: -35px;
    margin-top: 0px;
  }

  .button-transparent {
    margin-top: 0px;
    transform: scale(0.65);
  }

  .portfolio-container2 {
    transform: scale(0.8);
    margin-right: 0px;
    margin-bottom: -200px;

    .portfolio-text-container {
      width: 90vw;
    }

    img {
      margin-left: 20px;
    }
  }

  .portfolio-container1 {
    transform: scale(0.8);
    margin-left: -0px;
    margin-bottom: -200px;
    .portfolio-text-container {
      width: 90vw;
    }
  }
}
