

    <div class="purple-line" id="portfolio">
        <img src="./assets/img/line-purple.png">
        <h1>Portfolio</h1>
    </div>
    <p class="p-portfolio">This is a sample of my work - feel free to try them out!</p>

   

        <div class="portfolio-container1">
            <img src="./assets/img/join2.png" alt="Join">
            <div class="portfolio-text-container">
                <h2>Join</h2>
                <h3>Group project | Javascript | CSS | HTML</h3>
                <p>Task manager inspired by the Kanban Sytem. Create and organize tasks using drag and drop functions,
                    assign users and categories.</p>
                <div class="button-container">
                    <a href="https://www.annika-rothe.com/Join" target="_blank">
                        <button class="button-test">Live test</button></a>
                    <a href="https://github.com/AnnikaRothe/Join" target="_blank">
                        <button class="button-transparent">Github</button></a>
                </div>
            </div>

        </div>
        <div class="portfolio-container2">
            <div class="portfolio-text-container">
                <h2>El Pollo Loco</h2>
                <h3>Javascript | HTML | CSS</h3>
                <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins, collect
                    bottles, jump 0n enemies and fight the endboss.</p>
                <div class="button-container">
                    <a href="https://www.annika-rothe.com/El_Pollo_Loco" target="_blank">
                        <button class="button-test">Live test</button> </a>
                    <a href="https://github.com/AnnikaRothe/El_Pollo_Loco" target="_blank">
                        <button class="button-transparent">Github</button></a>
                </div>
            </div>
            <img src="./assets/img/Pollo-loco.png" alt="Join">
        </div>

        <div class="portfolio-container1">
            <img src="./assets/img/KI.png" alt="Portfolio">
            <div class="portfolio-text-container">
                <h2>Wordpress Portfolio</h2>
                <h3>Wordpress | CSS | HTML</h3>
                <p>My portfolio presented in an alternative style and different code implementation.

                </p>
                <div class="button-container">
                    <a href="https://wordpress.annika-rothe.com/" target="_blank">
                        <button class="button-test">Live test</button></a>
                    <a href="https://github.com/AnnikaRothe" target="_blank">
                        <button class="button-transparent">Github</button></a>
                </div>
            </div>

        </div>
        <div class="portfolio-container2">
            <div class="portfolio-text-container">
                <h2>Pokedex</h2>
                <h3>REST-API | Javascript | HTML | CSS</h3>
                <p>Pokedex project with fetched API. Click on the Cards to see more informations.</p>
                <div class="button-container">
                    <a href="https://www.annika-rothe.com/PokeDex" target="_blank">
                        <button class="button-test">Live test</button> </a>
                    <a href="https://github.com/AnnikaRothe/Pokedex" target="_blank">
                        <button class="button-transparent">Github</button></a>
                </div>
            </div>
            <img src="./assets/img/Pokedex.png" alt="Pokedex">
        </div>
        
        
   

