<div class="main-container">

    <div class="purple-line" id="portfolio">
        <h1 role="heading/Überschrift">Portfolio</h1>
    </div>
    <div class="portfolio-container1">
        <div class="portfolio-img-container">
            <a href="https://www.annika-rothe.com/Join" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                <img src="./assets/img/join2.png" alt="AgileBoardManager">
            </a>
        </div>
        <div class="portfolio-text-container">
            <h2>AgileBoard Manager</h2>
            <h3>Team project | Javascript | CSS | HTML</h3>
            <p translate>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.</p>
            <div class="button-container">
                <a href="https://www.annika-rothe.com/Join" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-test">Live test</button>
                </a>
                <a href="https://github.com/AnnikaRothe/Join" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-transparent">Github</button>
                </a>
            </div>
        </div>
    </div>

    <div class="parallax-container"></div>

    <div class="portfolio-container2">
        <div class="portfolio-text-container">
            <h2 >Carlos' Adventure</h2>
            <h3 >OOP | Javascript | HTML | CSS</h3>
            <p translate>A simple Jump-and-Run game based on an object-oriented approach. Help Carlos to find coins, collect
                bottles, jump on enemies and fight the endboss.</p>
            <div class="button-container">
                <a href="https://www.annika-rothe.com/El_Pollo_Loco" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-test">Live test</button>
                </a>
                <a href="https://github.com/AnnikaRothe/El_Pollo_Loco" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-transparent">Github</button>
                </a>
            </div>
        </div>
        <div class="portfolio-img-container">
            <a href="https://www.annika-rothe.com/El_Pollo_Loco" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                <img src="./assets/img/game.png" alt="{{ 'Carlos Adventure game' | translate }}">
            </a>
        </div>
    </div>

    <div class="parallax-container"></div>

    <div class="portfolio-container1">
        <div class="portfolio-img-container">
            <a href="https://wordpress.annika-rothe.com/" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                <img src="./assets/img/KI.png" alt="Wordpress Portfolio">
            </a>
        </div>
        <div class="portfolio-text-container">
            <h2>Wordpress Portfolio</h2>
            <h3>Wordpress | CSS | HTML</h3>
            <p translate>My portfolio presented in an alternative style and different code implementation.</p>
            <div class="button-container">
                <a href="https://wordpress.annika-rothe.com/" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate" >
                    <button class="button-test">Live test</button>
                </a>
                <a href="https://github.com/AnnikaRothe" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-transparent">Github</button>
                </a>
            </div>
        </div>
    </div>

    <div class="parallax-container"></div>

    <div class="portfolio-container2">
        <div class="portfolio-text-container">
            <h2>Fetch the API</h2>
            <h3>REST-API | Javascript | HTML | CSS</h3>
            <p translate>Pokedex project with fetched API. Click on the cards to see more information.</p>
            <div class="button-container">
                <a href="https://www.annika-rothe.com/PokeDex" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-test">Live test</button>
                </a>
                <a href="https://github.com/AnnikaRothe/Pokedex" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                    <button class="button-transparent">Github</button>
                </a>
            </div>
        </div>
        <div class="portfolio-img-container">
            <a href="https://www.annika-rothe.com/PokeDex" target="_blank" [attr.aria-label]=" 'opens in a new tab' | translate">
                <img src="./assets/img/pokemon.png" alt="API Fetched">
            </a>
        </div>
    </div>
</div>

<div id="skills"></div>