
<a class="skip-link" href="#header" tabindex="1" [attr.aria-label]="'Skip to header' | translate">Skip to header</a>
<a class="skip-link" href="#i-am" tabindex="2" [attr.aria-label]="'Skip to I am section' | translate">Skip to 'I am' section</a>
<a class="skip-link" href="#about-me" tabindex="3" [attr.aria-label]="'Skip to About me section' | translate">Skip to 'About me' section</a>
<a class="skip-link" href="#portfolio" tabindex="4" [attr.aria-label]="'Skip to Portfolio section' | translate">Skip to 'Portfolio' section</a>
<a class="skip-link" href="#skills" tabindex="5" [attr.aria-label]="'Skip to Skills section' | translate">Skip to 'Skills' section</a>
<a class="skip-link" href="#contact" tabindex="6" [attr.aria-label]="'Skip to Contact section' | translate">Skip to 'Contact' section</a>
<a class="skip-link" href="#footer" tabindex="7" [attr.aria-label]="'Skip to footer' | translate">Skip to footer</a>

<app-header id="header"></app-header>
<app-i-am id="i-am"></app-i-am>
<app-about-me id="about-me"></app-about-me>
<app-portfolio id="portfolio"></app-portfolio>
<app-skills id="skills"></app-skills>
<app-contact id="contact"></app-contact>
<app-footer id="footer"></app-footer>

